@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-icon {
    @apply text-2xl cursor-pointer hover:bg-hover_bg w-full py-3 items-center justify-center rounded-lg text-gray-600 
    flex border-b-2 border-transparent;
  }
}

@layer utilities {
  .nav-shadow {
    box-shadow: -1px 9px 34px 0px rgba(179,179,179,1);
}
  .story-img::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.3;
  }
}
